[workspace]
members = [
    "api",
    "common",
    "device",
    "proto",
    "transport",
    "wallet/coin-bitcoin",
    "wallet/coin-ethereum",
    "wallet/coin-eos",
    "wallet/coin-cosmos",
    "wallet/coin-bch",
    "wallet/coin-filecoin",
]